[package]
name = "driver"
version = "0.1.0"
edition = "2021"

[dependencies]
bincode = "1"
image = { workspace = true }
rusb = "0.9.4"
serde = { version = "1.0", features = ["derive"] }
anyhow = { workspace = true }
